{% extends "base.html" %}
{% block title %} Your generated palette {% endblock %}
{% block navlink1 %}<a class="nav-link" href="{{ url_for('home') }}">Home</a>{% endblock navlink1 %}
{% block navlink2 %}<a class="nav-link" href="{{ url_for('about') }}">About</a>{% endblock navlink2 %}
{% block content %}
<div class="container">
    <div class="row header-div">
        {% if colors and image: %}
        <div class="col-lg-6 header-img-div">
            <img src="data:image/jpeg;base64, {{ image }}" alt="Uploaded image" class="header-img">
        </div>
        <div class="col-lg-6">
            <h2 class="header-text">Colors</h2>   
            <table class="table table-borderless table-sm color-table">
                <tbody>
                {% for color in colors: %}
                  <tr class="color-row">
                    <td class="color-box" style="background-color: {{ color }};"></td>
                    <td class="color-name">{{ color.upper() }}</td>
                  </tr>
                {% endfor %} 
                </tbody>
            </table>  
        </div>
        <div class="col-lg-6">
            <a class="btn btn-primary btn-lg header-cta text-nowrap" href="{{ url_for('recieve_image') }}">Try a different picture!</a>
        </div>
        {% else: %}
        <div class="container about-container">
            <div class="about-div">
                <div class="about-text">
                    <h2> Nothing to show here! </h2>
                    <p>Something obviously went wrong</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
